#container {
    margin: 0px auto;
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}
#videoElement {
    max-width: 500px;
    height: auto;
    width: 100%;
}

#mini-galery {
    max-width: 50%;
    max-height: 375px;
    height: auto;
    width: 100%;
}

.row {
    height: auto;
    width: auto;
}

.row img {
    width: 100%;
    height: auto;
    padding-bottom: 0;
}

ul {
    max-height: 375px;
    height: auto;
    overflow: auto              !important;
}

li {
    max-height: 100%            !important;
    max-width: 300px            !important;
    height: auto                !important;
    width: 100%                 !important;
}

input {
    margin: 10px 10px;
}

#filters {
    background: transparent;
    height: 100%;
    width: 100%;
    max-width: 500px;
    max-height: 120px;
    margin: 5px;
    overflow: auto;
    display: flex;
}

#filters img {
    background: transparent;
    width: auto;
    height: 100px;
    border: 1px solid transparent;
}

#canvasVideo {
    background: transparent;
    z-index: 0;
    max-width: 500px;
    min-width: 100px;
    width: 100%;
}

#canvas {
    position: absolute;
    background: transparent;
    top: 0;
    left: 0;
    z-index: 3;
    max-width: 500px;
    min-width: 100px;
    width: 100%;
}

#imgElement {
    position: absolute;
    background: #fff;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    max-width: 500px;
    min-width: 100px;
    max-height: 375px;
    background-color: transparent;
}

.video {
    position: relative;
    margin: 0 10px;
    max-width: 50%;
    min-width: 350px;
    width: 100%;
}

.title {
  flex: 1;
  text-align: left;
}

.gallery, .profile, .connect {
  margin: auto 10px;
  float: right;
}

.gallery a, .profile a, .connect a{
    color: #ff3184;
}