.title {
    flex: 1;
    text-align: left;
}

.connect, .smile, .profile, .galleryMenu {
    margin: auto 10px;
    float: right;
}

.connect a, .smile a, .profile a, .galleryMenu a {
    color: #ff3184;
}

.gallery {
    display: block;
    margin: auto;
    text-align: center;
    width: 100%;
}

.row {
    align-content: stretch;
    width: 100%;
    margin: auto;
}

.row img {
    width: 100%;
    height: 100%;
    padding: auto;
    margin: 0;
}

.port {
    position: relative;
    top: 0;
    width: 100%;
    /* height: 80%; */
    background-color: #fafafa;
    visibility: hidden;
}

.open {
    position: absolute;
    top: 90;
    width: auto;
    height: 100%;
}

.big{
  height: auto;
}

.description {
    height: auto;
}

.likes {
  text-align: left;
  color: #ff3184;
  margin-top: -10px;
}

.likes img {
    height: 15px;
    width: auto;
    margin-right: 5px;
}

.comment {
  width: 100%;
  text-align: left;
  display: flex;
  margin-bottom: 5px;
}

.login {
  width: 20%;
  margin-right: 10px;
}

.txt {
  width: 70%;
  text-align: justify;
  margin-right: 10px;
}

.date {
  width: 15%;
  font-size: 13px;
  color: #CFCDDB;
}

.close img {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 20px;
    width: auto;
    visibility: hidden;
}

.message {
  text-align: left;
  width: 100%;
}

.textComment {
  width: 80%;
}

.send{
  color: #ff3184;
  float: right;
}

.id {
  visibility: hidden;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
}

.display-none {
    display: none;
}
