@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-basis:min-content;
    -webkit-flex-flow: row wrap;
    justify-content: center;
}

li {
    list-style-type: none;
    width: 300px;
    height: 200px;
}

a {
    text-decoration: none;
    color: #34333a;
}

.rose {
  color: #ff3184;
}

.success {
  position: relative;
  text-align: left;
  display: flex;
  align-items: center;
  background-color: #F9FFF8;
  width: 95%;
  height: 40px;
  border-radius: 5px;
  margin: 10px auto;
  padding: 5px;
  border: #EFF9EE solid 1px;
  box-shadow: 3px 3px 20px 0 #e5e5e5;
}

.error {
  position: relative;
  text-align: left;
  display: flex;
  align-items: center;
  background-color: #ffe4e4;
  width: 95%;
  height: 40px;
  border-radius: 5px;
  margin: 10px auto;
  padding: 5px;
  border: #ffe4e4 solid 1px;
  box-shadow: 3px 3px 20px 0 #e5e5e5;
}

.text {
  margin: auto 0;
}

.close {
  position: absolute;
  right: 5;
  top: 5;
}

.close img{
  height: 20px;
}
